---
# vim: set ff=unix ts=2 sw=2 sts=2 et : This line is VIM modeline

language: python

python: "2.7"

# Use the new container infrastructure
sudo: true

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Check bash version
  - bash --version
  # Install ansible
  - pip install ansible==2.8.5; ansible --version
  ## Create an inventory
  #- printf '[testcases]\nlocalhost\n' >tests/testcases
  ## Create ansible.cfg with correct roles_pat
  #- printf '[defaults]\ninventory=tests/testcases\nroles_path=./\n' >ansible.cfg

script:

  ## Basic role syntax check, and tests-run
  #- |
  #  set -x;
  #  : "Run tests-all.sh" && {
  #    bash -x tests/tests-all.sh
  #  } &&
  #  : "OK";

  - bash -Cu -x .tests.sh

# Notifications
#notifications:
#  webhooks: https://galaxy.ansible.com/api/v1/notifications/
#  email:
#  - your@emailaddress

