# bash.profile
# System-wide profile for sh(1)
# {{ ansible_managed }}

[ -z "$USER" ]    && USER="`id -un`"  || :
[ -z "$LOGNAME" ] && LOGNAME=$USER    || :
[ -z "$UID" ]     && UID=`id -ru`     || :
[ -z "$EUID" ]    && EUID=`id -u`     || :

export USER LOGNAME UID EUID

# bash ?
[ -n "$BASH" ] &&
[ -e "{{ bashrc_bash_rc_file_path|d('/etc/bash.bashrc',true) }}" ] && {
  . "{{ bashrc_bash_rc_file_path|d('/etc/bash.bashrc',true) }}"; } || :
[ -n "$BASH" ] &&
[ -e "/etc/bashrc" ] && {
  . /etc/bashrc; } || :

# *eof*
