# bash.bashrc
# System-wide .bashrc file for interactive bash(1) shells.
# {{ ansible_managed }}

# Bash ?
[ -z "$BASH" ] &&
  return 0
# Interactive shell ?
[ -z "$PS1" ] &&
  return 0

# Block recursive call !
[[ "${BASH_SOURCE[@]}" \
   =~ .*\ (${BASH_SOURCE}|/etc(/bash.|/)bashrc)(\ .*|\ *)$ ]] &&
  return 0

# Treat unset variables as an error when
# performing parameterr expansion.
set -u

# bash resource configs default
bashrc_dir="{{ bashrc_bashrcdir_path|d('/etc/bash.bashrc.d',true) }}"
bash_local="/usr/local/etc/${bashrc_dir##*/}"

# Platform
. "${bashrc_dir}/__platform.sh" || {
  declare -r os=__UNKNOWN__ vendor=__UNKNOWN__ osvendor=__UNKNOWN__
  declare -r machine=__UNKNOWN__
} || :

# User Groups
usergroups="$(id -Gn 2>/dev/null)"

# Prompt setting (default)
PS1='\u@\h \W\$ '

# Load to the 'bash.bashrc.d' scripts
for bashrcsh in $( {
__pf_rc_loader "${bashrc_dir}"/[0-9][0-9]*.sh
} 2>/dev/null || :; )
do
  [ -f "${bashrcsh}" ] &&
  [ -x "${bashrcsh}" ] &&
  . "${bashrcsh}" || :
done
unset bashrcsh

# cleanup
unset bashrcdir bashlocal usergroups

# unset 'u'
set +u

# *eof*
