# $HOME/.bashrc
# User local .bashrc file
# {{ ansible_managed }}
[ -r "{{ bash_bashrc_root_dir }}/{{ bash_bashrc_rc_file_name }}" ] && {
  . "{{ bash_bashrc_root_dir }}/{{ bash_bashrc_rc_file_name }}"; } || :



# Aliases



# *eof*
