# $HOME/.bashrc
# {{ ansible_managed }}
# User local .bashrc file

[ -e "${bashrcfile:={{ bashrc_bash_rc_file_path|d('/etc/bash.bashrc',true) }}}" ] &&
. "${bashrcfile}"; unset bashrcfile || :

# Aliases



# *eof*
