# $HOME/.bashrc
# {{ ansible_managed }}
# User local .bashrc file

[ -e "{{ bashrc_bash_rc_file_path|d('/etc/bash.bashrc',true) }}" ] && {
  . "{{ bashrc_bash_rc_file_path|d('/etc/bash.bashrc',true) }}"; }

# Aliases



# *eof*
